.custom_border-1, .custom_border-3
{
border-size:1px;
border-bottom-style:dashed;
border-color:black;
}
.custom_border-5, .custom_border-2
{
border-size:2px;
border-right-style:solid;
border-color:black;
}
.custom_border-4, .custom_border-7
{
border-size:2px;
border-left-style:solid;
border-color:black;
}
.custom_border-6, .custom_border-8
{
border-size:2px;
border-style:dotted;
border-color:black;
}